/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --neutral: #dfdfd8;
    --header: #174e70;
    --nav: #333333;
    --footer-text: #6b8166;
    --text-highlight: #f2ea59;
  }
  
  /* Header Section */
  header {
    background-color: var(--header);
    color: var(--neutral);
    text-align: center;
    padding: 1.5rem 1rem;
  }
  
  #name {
    color: var(--text-highlight);
  }
  
  /* Navigation */
  nav {
    background-color: var(--nav);
    margin-bottom: 1rem;
  }
  
  #nav {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    list-style: none;
  }
  
  nav  a {
    color: var(--neutral);
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Section Styling */
  section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    padding: 1rem 2rem;
  }
  
  .about, #resource {
    border: 1px solid var(--header);
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
  }
  
  h2 {
    background-color: var(--header);
    color: var(--neutral);
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px 5px 0 0;
    grid-column: span 3;
  }
  
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .about_para{
    grid-column: span 2;
    margin-bottom: 2rem;
  }
  
  #profile {
    width: 90%;
    border-radius: 3px;
    grid-row: span 2;
  }
  .nig{
    grid-column: span 2;
  }
  
  h3 {
    text-align: center;
    margin-top: 1rem;
    grid-column: span 2;
    margin-bottom: 2rem;
    padding-bottom: 5px;
    border-bottom:2px solid rgba(70, 65, 65, 0.4) ;
    
  }
  
  #resource ul {
    padding-left: 1rem;
    line-height: 2rem;
  }
  
  #resource ul li {
    margin-bottom: 0.5rem;
  }
  
  #resource ul li a {
    color: var(--header);
  }
  
  /* Footer Section */
  footer {
    text-align: center;
    background-color: var(--header);
    color: var(--neutral);
    padding: 1rem;
    font-size: 0.875rem;
    overflow: hidden;
  }
  #date{
    color:var(--text-highlight)
  }
  